@* header Template File *@
<html>
    <head>
        <title></title>
        
		
    </head>
    <body class="container">
    
    	   
      
	    
    <nav class="navbar navbar-default">
 
   
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Employee Details</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Add Employee <span class="sr-only">(current)</span></a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Help</a></li>
      </ul>
      <div style="float: right;">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group" align="right">
          <input type="text" class="form-control" placeholder="Search" data-ng-model="searchInList">
        </div>
        <button type="submit" class="btn btn-default" data-ng-model="searchInList">Search</button>
      </form>
      </div>
      
      
    </div>
  
</nav>


    
       
       
	  
    </body>
</html>
 